<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>
</head>
<body>
{{> header}}
<h2>{{pageTitle}}</h2>
<p>All about us goes here.</p>

{{> footer}}
</body>
</html>